
body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color: rgb(70, 70, 70);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header {
    text-align: center;
    font-size: 50px;
    color: rgb(70, 70, 70);
    font-weight: bold;;
}

.buttons {
    display: flex;
    gap: 25px;
    justify-content: center;
}

#rock, #paper, #scissors {
    width: 250px;
    height: 200px;
    border: solid rgb(70, 70, 70);
    border-radius: 15%;
    border-width: 5px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(72, 72, 72);
    transition: all 0.15s;
}

#computerSelection {
   font-size: 15px;
   padding-top: 25px;
   padding-bottom: 5px;
}

#playerScore, #computerScore {
    font-size: 15px;
    text-align: center;
    padding-bottom: 30px;
    
}

#winnerPlay {
    font-size: 60px;
    font-weight: bold;
    color: rgb(0, 158, 0);
}

#winnerComp {
    font-size: 60px;
    font-weight: bold;
    color: firebrick;
    padding-bottom: 30px;
}

img {
    width: 180px;
}

.buttonPress {
    transform:scale(1.15);
    border-color: rgb(0, 158, 0);
    background-color: rgb(105, 246, 105);
}

.buttonPressRed {
    transform:scale(1.15);
    border-color: rgb(254, 7, 7);
    background-color: rgb(253, 55, 55);
}

.buttonPressYellow {
    transform:scale(1.15);
    border-color: rgb(225, 254, 7);
    background-color: rgb(236, 253, 55);
}
