
body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color: rgb(70, 70, 70);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 20px;
}

.header {
    text-align: center;
    font-size: 50px;
    color: rgb(70, 70, 70);
    font-weight: bold;;
}

.buttons {
    display: flex;
    gap: 25px;
    justify-content: center;
}

#rock, #paper, #scissors {
    width: 250px;
    height: 200px;
    border: solid rgb(70, 70, 70);
    border-radius: 15%;
    border-width: 5px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(72, 72, 72);
    transition: all 0.07s;
}

.score {
    display: flex;
    gap: 100px;
}

.compChoice {
   padding-bottom: 25px;
}

.yourScore, .compScore {
    font-size: 25px;
}

.winner {
    font-size: 40px;
}

img {
    width: 180px;
}

.buttonPress {
    transform:scale(1.1);
    border-color: rgb(13, 191, 13);
    background-color: rgb(144, 250, 144);
    box-shadow: 0 0 10px rgb(13, 191, 13);
}
